{% extends "base.html" %}
{% block body %}
    <style>
        table.actually-a-table {
            border-collapse: collapse;
        }
        table.actually-a-table tr {
            border-bottom: 1px solid #dbdadb;
        }
        table.actually-a-table tr:last-child {
          border: 0;
        }
        span.hoverable {
          text-decoration-line: underline;
          text-decoration-style: dotted;
        }
        span.spoiler {
          background-color: #000000;
          color: #000000;
        }
        
        span.spoiler:hover {
          color: #cccccc;
        }

.sad-button-el {
    overflow: hidden;
    display: inline-block;
    visibility: visible !important;
    background-image: -webkit-linear-gradient(#e528a0, #945e01);
    background-image: -moz-linear-gradient(#e528a0, #945e01);
    background-image: -ms-linear-gradient(#e528a0, #945e01);
    background-image: -o-linear-gradient(#e528a0, #945e01);
    background-image: -webkit-linear-gradient(#e528a0, #945e01);
    background-image: -moz-linear-gradient(#e528a0, #945e01);
    background-image: -ms-linear-gradient(#e528a0, #945e01);
    background-image: -o-linear-gradient(#e528a0, #945e01);
    background-image: linear-gradient(#e528a0, #945e01);
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding: 1px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer
}

.sad-button-el::-moz-focus-inner {
    border: 0;
    padding: 0
}

.sad-button-el span {
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #ff6012;
    background-image: -webkit-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -moz-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -ms-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -o-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -webkit-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -moz-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -ms-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: -o-linear-gradient(#ee6060, #dd3000 85%, #e44040);
    background-image: linear-gradient(#ee6060, #dd3000 85%, #e44040);
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.sad-button-el:not(:disabled):active, .sad-button-el.active {
    background: #005d93
}

.sad-button-el:not(:disabled):active span, .sad-button-el.active span {
    color: #eee;
    background: #dd3000;
    background-image: -webkit-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -moz-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -ms-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -o-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -webkit-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -moz-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -ms-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: -o-linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    background-image: linear-gradient(#dd3000, #dd3000 85%, #df6a23);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1)
}

.sad-button-el:disabled, .sad-button-el.disabled {
    background: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none
}

.sad-button-el:disabled span, .sad-button-el.disabled span {
    color: #999;
    background: #faf9f8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
}
        
    </style>
    <h2>Rebble Account</h2>
    {% if message %}
      <p><b>{{ message }}</b></p>
    {% endif %}

    <table class="actually-a-table">
        <tr>
            <td>Account name</td>
            <td>{% if user.name %}{{ user.name }}{% else %}<em>None</em>{% endif %}</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><span class="hoverable" title="This is how we identify your Rebble account, not by e-mail address.  If you expect to be subscribed and you're not, perhaps try a different way of logging in?">Log-in providers</span></td>
            <td>{% for identity in identities %} {{ identity.idp }}:{{ identity.idp_user_id }}{% if not loop.last %},<br>{% endif %}{% endfor %}
            <br>
            <b><a href="/auth/">Add another</a></b></td>
        </tr>
        <tr>
            <td>Linked Pebble account</td>
            <td>{% if user.pebble_token %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <td style="padding-right: 10px;">Voice / Weather subscription</td>
            <td>
                {% if subscription %}
                    {% if subscription.status == 'past_due' %}
                        <strong>Overdue</strong>,
                    {% elif subscription.status in ('active', 'trialing') %}
                        <strong>Active</strong>, auto-renew
                        {% if subscription.cancel_at_period_end %}
                            disabled.<br>Subscription ends on {{ subscription.current_period_end | format_ts }}.
                        {% else %}
                            enabled.<br>Renews for another {{ subscription.plan.interval }} on {{ subscription.current_period_end | format_ts }}.
                        {% endif %}
                    {% else %}
                        Expired on {{ subscription.ended_at | format_ts }}.
                    {% endif %}
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
{% if user.has_timeline %}
        <tr>
          <td>Timeline sync interval</td>
          <td>{{ user.timeline_ttl }} minutes</td>
        </tr>
{% endif %}
        <tr>
          <td>
            <strong><a href="{{url_for('login.logout') }}">Log out</a></strong>
          </td>
          <td></td>
        </tr>
    </table>
    <hr>
    <h3>Rebble Subscriptions</h3>
    {% if not subscription or subscription.status == 'canceled' or subscription.cancel_at_period_end %}
    <p>
        Subscribing to Rebble for just $3/month enables dictation and weather support
        (and faster timeline sync) on your account,
        and helps us keep the service running for everyone!
    </p>
        <p>
            We see you do not have an active subscription, or your subscription is not set to auto-renew. Want to
            subscribe? We offer two subscription options:
        </p>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td style="vertical-align: top;">
                    Pay $3.00 / month
                    <form action="{{ url_for('.create_subscription') }}" method="POST">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_key }}"
                        data-email="{{ user.email }}"
                        data-image="//static.rebble.io/auth/logo-128x128.png"
                        data-label="Subscribe Monthly"
                        data-name="Rebble Alliance"
                        data-allow-remember-me="false"
                        data-description="Voice / Dictation Subscription"
                        data-locale="auto"
                        data-zip-code="true"
                        data-panel-label="Subscribe Monthly"
                      >
                      </script>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="plan" value="{{ monthly_plan }}">
                    </form>
                </td>
                <td style="vertical-align: top;">Annually at $33/year
                    <form action="{{ url_for('.create_subscription') }}" method="POST">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_key }}"
                        data-email="{{ user.email }}"
                        data-image="//static.rebble.io/auth/logo-128x128.png"
                        data-label="Subscribe Annually"
                        data-allow-remember-me="false"
                        data-name="Rebble Alliance"
                        data-description="Voice / Dictation Subscription"
                        data-locale="auto"
                        data-zip-code="true"
                        data-panel-label="Subscribe Annually"
                        >
                      </script>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="plan" value="{{ annual_plan }}">
                    </form>
                    (One month free!)</td>
            </tr>
        </table>
        <p>We use Stripe to handle our payments, and we never see or store your payment information.</p>
    {% else %}
        {% if subscription.status == 'past_due' %}
        <p>
            <b>It looks like we're having trouble billing your credit
            card.</b>  Try updating it, below.
        </p>
        {% endif %}
        <p>
            You are currently subscribed! If you like, you can update your credit
            card, or even cancel your
            subscription.
            You will retain your subscription benefits until your subscription lapses, on
            {{ subscription.current_period_end | format_ts }}.
        </p>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td>
                    <form action="{{ url_for('.update_credit_card') }}" method="POST">
                        <script
                          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="{{ stripe_key }}"
                          data-email="{{ user.email }}"
                          data-image="//static.rebble.io/auth/logo-128x128.png"
                          data-label="Update credit card"
                          data-allow-remember-me="false"
                          data-name="Rebble Alliance"
                          data-description="Voice / Dictation Subscription"
                          data-locale="auto"
                          data-zip-code="true"
                          data-panel-label="Update"
                          >
                        </script>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('.cancel_subscription') }}" method="POST"  style="text-align: center;">
                        <button type="submit" class="sad-button-el">
                            <span style="display: block; min-height: 30px;">Cancel subscription :(</span>
                        </button>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    </form>
                </td>
            </tr>
        </table>
        <p>Are services you subscribed to not functioning? You might need to
            <a href="https://boot.rebble.io/">repeat the initial setup</a>. Don't worry: it only takes a minute.</p>
    {% endif %}
    <hr>
    {%  if user.has_active_sub %}
        <div>
            <h3>Audio Debug Mode</h3>
            {% if not user.audio_debug_mode %}
                <p>If you like, you can enable audio debug mode to hear what dictation audio from your watch actually sounds like.</p>
                <p>Audio debug mode remains on <strong>for one day</strong>, and will then be automatically disabled. Recorded audio
                files will be deleted one day after they are stored, too.</p>
                <form action="{{ url_for('.set_audio_debug_mode') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="enable" value="true" />
                    <div style="text-align: center;">
                        <input type="submit" value="Enable audio debug mode" />
                    </div>
                </form>
            {% else %}
                <p>Audio Debug Mode <strong>is enabled</strong>. You can check out your recordings <a href="https://audio-debug.rebble.io/recordings">over here</a>.</p>
                <p>You can also disable it, to stop recording your dictation. Either way, it will disabled 24 hours after being enabled, and your recordings will be deleted 24 hours after they were created.</p>
                <form action="{{ url_for('.set_audio_debug_mode') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="enable" value="false" />
                    <div style="text-align: center;">
                        <input type="submit" style="" value="Disable audio debug mode" />
                    </div>
                </form>
            {% endif %}
        </div>
        <hr>
    {%  endif %}
    <h3>Experimental Features for Developers</h3>
    <p>
    
        <p>If you're developing for Rebble, here are a few options that you
        might find helpful.  Be careful with these: you can get your phone
        pretty confused with these.  Most people won't need to touch these.</p>
        
        <p style="text-align: center;"><input type="submit" onclick='document.getElementById("experimental").style.display = "block";' value="I know what I'm doing, show me the options anyway!" /></p>
    
        <div style="display: none;" id="experimental">
            <p>Ok, up to you.  If it breaks you get to keep both pieces.</p>
            
            <p>If you know what you're doing, you can override some
            parameters that we send to your phone to set up Rebble.  Make
            sure to rerun boot after you tweak these.</p>
            
            
            <form action="{{ url_for('.boot_overrides') }}" method="POST" style="text-align: center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="overrides" value="null" />
                <input type="submit" value="Something is wrong -- I want the defaults back again!" style="font-size: 20px; color: #ff0000;" />
            </form>

            <form action="{{ url_for('.boot_overrides') }}" method="POST" style="text-align: center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <textarea cols="80" rows="4" name="overrides" style="display: none;">
{
    "config": {
        "treasure_data": {
            "write_key": "rebble.noident=True"
        }
    }
}
</textarea>
                <input type="submit" value="Anonymize Rebble telemetry for my account." style="font-size: 20px;" />
            </form>

            <form action="{{ url_for('.boot_overrides') }}" method="POST" style="text-align: center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <textarea cols="80" rows="4" name="overrides" style="display: none;">
{
    "config": {
        "treasure_data": {
            "endpoint": ""
        }
    }
}
</textarea>
                <input type="submit" value="Disable Rebble telemetry entirely for my account." style="font-size: 20px;" />
            </form>

            <p>If you really want, you can type your own JSON into the field
            below to override the boot JSON.  Currently, you can override
            the app store URLs, with something like <tt>{ "config": {
            "webviews": { "appstore/watchapps": "http://your-path", ...  } }
            }</tt>.</p>
      
            <form action="{{ url_for('.boot_overrides') }}" method="POST" style="text-align: center;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <textarea cols="80" rows="4" name="overrides">
{{ user.boot_overrides | json_dump(indent = 4) }}</textarea>
                <input type="submit" value="Ok, well, I guess that looks good." style="font-size: 20px;"/>
            </form>
            
        </div>
{% endblock %}