{% extends "base.html" %}
{% block body %}
    <style>
        table.actually-a-table {
            border-collapse: collapse;
        }
        table.actually-a-table tr {
            border-bottom: 1px solid #dbdadb;
        }
        table.actually-a-table tr:last-child {
          border: 0;
        }
        span.hoverable {
          text-decoration-line: underline;
          text-decoration-style: dotted;
        }
        span.spoiler {
          background-color: #000000;
          color: #000000;
        }

        span.spoiler:hover {
          color: #cccccc;
        }
    </style>
    <h2>Log in to Rebble Developer Forum</h2>

    <form method="POST" style="text-align: center;">
      {% if not user.username %}
      
      <p>Welcome to the <b>Rebble Developer Forum</b>!  Since you're logging
      in for the first time, you need to pick a username for your account on
      the forum.  (We'll associate that with your Rebble account, {{user.email}}.)  Luckily, we provided a box for you below to type into! 
      Please pick a username (4-24 letters, numbers, dashes, dots, and
      underscores):</p>

      <input type="input" name="username" placeholder="Username" pattern="[a-zA-Z0-9_\.\-]{4,24}" title="4-24 letters, numbers, dashes, dots and underscores" />
      {% endif %}
      
      {% if user.username %}
      
      <p>You're about to log back into the <b>Rebble Developer Forum</b> as
      <tt>{{ user.username }}</tt> (since that's the username associated with your
      Rebble account, {{ user.email }}).  Sound right?</p>
      
      {% endif %}


      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="submit" name="confirm" value="That's me!  Log me in!" style="font-size: 20px;" />

      <input type="submit" name="deny" value="Wait a second, that's the wrong account!" style="font-size: 20px;" />
    </form>

{% endblock %}
