{% extends "base.html" %}
{% block body %}
    <h2>Facebook authentication is unavailable</h2>
    <p>
        Due to recent changes in Facebook's requirements, we can no longer provide Facebook authentication.
    </p>
    <p>
        If you previously logged in using Facebook, please contact Rebble via <a href="mailto:support@rebble.io">email</a> or <a href="https://rebble.io/discord">our Discord server</a> for help getting back into your account.
    </p>
    <p><a href="/auth">Try logging in again.</a></p>
{% endblock %}
