{% extends "base.html" %}
{% block body %}
<h2>You're all set!</h2>
{% if name %}
    <p>Hi, {{ name }}!</p>
{% else %}
    <p>Hi!</p>
{% endif %}
<p>
    Are you ready to Rebble? You can <strong><a href="https://boot.rebble.io/">get started now</a></strong>!
    Before you go through, you might want to consider supporting us and <strong>purchasing a
    <a href="{{ url_for('billing.account_info') }}">weather and dictation subscription</a></strong>. 
    You can also <strong><a href="{{ url_for('billing.account_info') }}">view your account
    information</a></strong>, if you need to.</p>
    
    <p>If you do so later, you'll have to repeat the getting started steps. They only take a minute,
    but you may as well save spending a minute twice!
    
    <p>(Logged in as the wrong user?  <strong><a href="{{
    url_for('login.logout') }}">Log out</a></strong>, if you like.)
</p>
<h3>Service status</h3>
<ul>
    <li>The <strong>appstore</strong>, <strong>locker</strong>, <strong>firmware</strong>,
        <strong>timeline</strong>,
        <strong>language packs</strong>, and <strong>support pages</strong> are available now.</li>
    <li>For those with subscriptions, <strong>dictation</strong> and <strong>weather</strong> are also available.</li>
</ul>
{% endblock %}
