{% extends "base.html" %}
{% block body %}
<h2>You're all set!</h2>
<p>
    It looks like you're logged in
    {% if name %}
        as <strong>{{ name }} &lt;{{ email }}&gt;</strong>.
    {% else %}
        using <strong>{{ email }}</strong>.
    {% endif %}
    We have your Pebble account (the one with e-mail address <strong>{{ pebble_email }}</strong>) all
    linked and ready to go.
    Over the coming hours, we'll import your data.
    Keep an eye on <a href="https://rebble.io/">rebble.io</a> for more information!
</p>
{% endblock %}